
@media (max-width: 1195px) {

    .header-name {
        font-size: 84px;
        max-width: 480px;
    }

    .header-hello, .header-intro {
        font-size: 20px;
        max-width: 400px;
    }

    .header {
        background-position: 80% 75%;
    }

}

/* MEDIUM DEVICES */

@media (max-width: 991px) {

    .nav-link {
    font-size: 14px;
    }

    .header-name {
        font-size: 74px;
        max-width: 420px;
    }

    .header-hello, .header-intro {
        font-size: 20px;
        max-width: 400px;
    }

    .heading-about {
        margin: 0 44px 0 44px;
    }

    .contentblock {
        padding: 0 32px 0 32px;
        
    }

    .card {
        max-width: 800px !important;
    }

    .carousel-control-next-override {
        padding-left: 90px;
    }
  
    .carousel-control-prev-override {
        padding-right: 90px;
    }
}

@media (max-width: 943px) {

    .header-name {
        font-size: 68px;
        max-width: 400px;
    }

    .header-hello, .header-intro {
        font-size: 18px;
    }

}

@media (max-width: 823px) {

    .header-name {
        font-size: 60px;
        max-width: 350px;
    }

    .header-hello, .header-intro {
        max-width: 360px;
    }

    .carousel-control-next-override {
        padding-left: 70px;
    }
  
    .carousel-control-prev-override {
        padding-right: 70px;
    }
}
    

/* SMALL DEVICES */

@media (max-width: 767px) {

    .navbar-collapse {
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(5px);
        z-index: 2;
        padding: 32px;
        transition: all 0.5s ease-in-out;
    }

    .header {
        background-image: url(/images/coverphoto-medium.jpg);
    }

    .header-name {
        font-size: 54px;
        max-width: 320px;
    }

    .header-hello, .header-intro {
        font-size: 18px;
        max-width: 310px;
    }

    .about-section, .heading-about {
        margin: 0 18px 0 18px;
        text-align: center;
    }

    .profile-img {
        width: 40%;
    }

    .contentblock {
        max-width: 600px;
    }

    .contentblock {
        padding: 0 32px 0 32px;
        
    }

    .heading-tertiary-date {
        width: 270px;
    }

    .content-section-experience {
        display: block;
    }

}

@media (max-width: 723px) {

    .header-name {
        font-size: 48px;
        max-width: 280px;
    }

    .header-hello, .header-intro {
        font-size: 16px;
        max-width: 270px;
    }

    .skills {
        display: block;
        text-align: center;
    }

    .skill-list {
        margin-top: 64px;
    }
}

    @media (max-width: 663px) {

        .header-name {
            font-size: 44px;
            max-width: 260px;
        }
    
        .header-hello, .header-intro {
            max-width: 220px;
        }

        .carousel-control-next-override {
            padding-left: 40px;
        }
      
        .carousel-control-prev-override {
            padding-right: 40px;
        }
    }

/* EXTRA SMALL DEVICES (PORTRAIT TABLETS/ LARGE PHONES) */

@media (max-width: 575px) {

    body {
        font-size: 16px;
    }

    .header {
        background-image: url(/images/coverphoto-small.jpg);
        background-position: center;
        height: 65vh;
    }

    .header-text-hidden {
        display: block;
    }

    .header-text {
        display: none;
    }

    .profile-img {
        width: 50%;
    }

    .about-section, .heading-about {
        margin: 0 18px 0 18px;
        text-align: center;
    }

    .social-media-hidden {
        display: block;
    }

    .social-media {
        display: none;
    }

    .skill-list {
        margin-top: 32px;
    }

    .content-section {
        display: block;
    }

.contentblock {
    padding: 0 32px 0 32px;
    
}
}

@media (max-width: 440px) {

    .carousel-control-next-override {
        padding-left: 20px;
    }
  
    .carousel-control-prev-override {
        padding-right: 20px;
    }
    
}

@media (max-width: 400px) {

    .content-text-muted {
        display: block;
    }
}

