/* STYLING CHOICES */

/* main color - #6a7e70 */

* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    color: #333;
    position: relative;
}

/***** NAVIGATION *****/

.nav-override {
justify-content: end;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
} 

.link-color-override {
    color: #fff !important;
}

.nav-link-btn-override {
    padding: 2px 4px 4px 2px;
}

/***** HEADER *****/

.header {
    background-image: url(/images/coverphoto.jpg);
    background-color: #6a7e70;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 75%;
    width: 100%;
    height: 100vh;
    position: relative;
    color: #444;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.header-hello {
    font-size: 24px;
    margin-bottom: 0;
}

.header-name {
    font-size: 92px;
    max-width: 520px;
    margin-bottom: 0;
}

.header-intro {
    font-size: 24px;
    margin: 24px 0 32px 0;
    max-width: 500px;
}

.btn-override {
    background-color: #6a7e70;
    padding: 6px 16px 6px 16px;
}

.btn-override:hover {
    background-color: #5f7165;
}

.social-media {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3%;
    bottom: 7%;
}

.social-link:link,
.social-link:visited {
  text-decoration: none;
  margin: 3px;
  font-size: 24px;
  color: #444;
}

.social-link:hover,
.social-link:active {
  animation-name: hoverchange;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes hoverchange {
    from {transform: scale(1);}
    to {transform: scale(1.5);}
}

.header-text-hidden {
    display: none;
    text-align: center;
    margin: 18px 24px 18px 24px;
}

.header-name-hidden {
    padding-bottom: 12px;
}

.social-media-hidden {
    display: none;
    text-align: center;
}

/***** ABOUT *****/

.heading-about {
    max-width: 640px;
    line-height: 1.4;
}

.profile-img {
    width: 75%;
}

.signature-img {
    filter: opacity(80%);
}

/***** SKILLS *****/

.heading-secondary {
    text-transform: uppercase;
    margin-bottom: 18px;
    letter-spacing: 4px;
}

.skills-block {
    background-color: rgb(106, 126, 112, 0.2);
}

.skills {
    display: flex;
    /* gap: 72px; */
}

.skill-box {
    background-color: #fff;
    /* border: 1px solid #6a7e70; */
    height: 160px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 10%);
    /* width: 150px; */
}

.skill-logo {
    width: 64px;
    filter: opacity(60%);
}

.skill-name {
    filter: opacity(80%);  
}

.skill-content {
    padding: 32px 0 32px 0;
}

.skill-list {
    list-style-type: none;
    line-height: 2;
}

.icon-checkmark {
    color: #6a7e70;
    padding-right: 12px;
}

/***** EXPERIENCE AND EDUCATION *****/

.education-block {
    background-color: rgb(106, 126, 112, 0.1);
}

.contentblock {
    display: flex;
    flex-direction: column;
    gap: 52px;
    max-width: 900px;
    margin: auto;
  }
  
  .contentblock ul {
    padding-left: 20px;
  }

  .contentblock a {
      color: #777;
      text-decoration-thickness: 1px;
      text-underline-offset: 2px;
  }
  
  .content-section, .content-section-experience {
    display: flex;
  }

  .heading-tertiary { 
    font-weight: 700;
   }

   .heading-tertiary-date {
    width: 320px;
    flex-shrink: 0;
  }

  .heading-secondary-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-bottom: 1px solid #cfbda4;
  }

  .content-text-muted {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 16px;
  }

  /***** CONTACT *****/

  .card-override {
      background-color: rgba(106, 126, 112, 0.8);
      border: none !important;
      color: #2a322d;
      box-shadow: 0 12px 24px rgb(0 0 0 / 20%);
      margin-bottom: 64px !important;
      overflow: hidden;
      border-radius: 0 5px 5px 5px;
  }

  .card-title {
      font-size: 36px;
  }


  .form-label {
      font-size: 16px;
  }

  .btn-contact {
      background-color: #353f38; 
      padding: 8px 20px 8px 20px !important;
      font-weight: 500;
      letter-spacing: 1px;
  }

  .contact-img-block {
    background-image: url("/images/coffee.jpg");
    background-size: cover;
    background-position: 60%;
  }

  .contact-section {
      display: flex;
      justify-content: center;
      align-items:flex-start;
  }

  .contacts {
      display: flex;
      flex-direction: column;
  }

  .contact-link-first {
      border-radius: 5% 0 0 0;
  }

  .contact-link-last {
      border-radius: 0 0 0 5%;
  }

  .contact-link:link,
.contact-link:visited {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  background-color: rgba(106, 126, 112, 0.8);
  padding: 12px 16px 12px 16px;
}

.contact-link:hover,
.contact-link:active {
  animation-name: contactchange;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

@keyframes contactchange {
    from {color: #fff;}
    to {color:#353f38;}
}