/* STYLING CHOICES */

* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    color: #333;
}

/***** NAVIGATION *****/

.nav-link {
    font-size: 16px;
    text-transform: uppercase;
} 

.link-color-override {
    color: #fff !important;
}

.nav-link-btn-override {
    padding: 2px 4px 4px 2px;
}

/***** HEADER *****/

.header {
    background-image: url(/images/coverphoto.jpg);
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    width: 100%;
    height: 100vh;
    position: relative;
    color: #444;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.header-hello {
    margin-bottom: 0;
}

.header-name {
    font-size: 92px;
    max-width: 520px;
    margin-bottom: 0;
}

.header-intro {
    margin: 24px 0 32px 0;
    max-width: 400px;
}

.btn {
    background-color: #A18167;
}

.social-media {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3%;
    bottom: 3%;
}

.social-link:link,
.social-link:visited {
  text-decoration: none;
  margin: 3px;
  font-size: 24px;
  color: #444;
}

.social-link:hover,
.social-link:active {
  animation-name: hoverchange;
  animation-duration: .5s;
  animation-fill-mode: forwards ;
}

@keyframes hoverchange {
    from {transform: scale(1);}
    to {transform: scale(1.5);}
}

/***** ABOUT *****/

.signature-img {
    filter: opacity(80%);
}

/***** SKILLS *****/

.heading-secondary {
    text-transform: uppercase;
    margin-bottom: 32px;
}

.skills-block {
    background-color: rgb(161, 129, 103, 0.3);
   
}

.skills {
    display: flex;
    gap: 72px;
}

.skill-box {
    background-color: #fff;
    justify-items: center;
    border: 1px solid seagreen;
    height: 150px;
    border-radius: 10%;
    
}

.skill-logo {
    width: 64px;
    filter: opacity(65%);
}

.skill-list {
    list-style-type: none;
    line-height: 2;
}

.contentblock {
    display: flex;
    flex-direction: column;
    gap: 52px;
    max-width: 800px;
    margin: auto;
  }
  
  .contentblock ul {
    padding-left: 20px;
  }
  
  .content-section {
    display: flex;
  }

  .heading-tertiary { 
    font-weight: 700;
   }

   .heading-tertiary-date {
    width: 320px;
    flex-shrink: 0;
  }

  .heading-secondary-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-bottom: 2px solid #cfbda4;
  }

